@model Ecommerce.Models.Funcionario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlterarSenhaFuncionario</title>
    <link href="~/Content/AlterarSenha.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("AlterarSenhaFuncionario", "Site"))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <h1 class="text">Nova senha</h1>
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="group">
                @Html.EditorFor(m => m.CPF, new { htmlAttributes = new { @class = "Input", @placeholder = "CPF", @id = "RegraValida", @name = "RegraValida", @onkeydown = "javascript: fMasc( this, mCPF );" } })
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="errorMessage">@Html.ValidationMessageFor(model => model.CPF)</span>
            </div>


            <div class="group">

                @Html.EditorFor(model => model.senha, new { htmlAttributes = new { @class = "Input" } })
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="errorMessage">@Html.ValidationMessageFor(model => model.senha)</span>

            </div>
            <div class="group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</body>
</html>
