@model Ecommerce.Models.Cliente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlterarSenhaCliente</title>
</head>
<body>
    <div class="container">
        <h1 class="text">FUNCIONÁRIO</h1>
        <div class="bodyInputs">
            @Html.ActionLink("Voltar", "Funcionarios", "Sistema", new { htmlAttributes = new { @class = "link" } })

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="group">
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "input", @placeholder = "Nome Completo" } })
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="errorMessage"> @Html.ValidationMessageFor(model => model.nome)</span>
            </div>


            <div class="group">

                @Html.EditorFor(model => model.cargo_func, new { htmlAttributes = new { @class = "input", @placeholder = "Cargo" } })
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="errorMessage"> @Html.ValidationMessageFor(model => model.cargo_func)</span>

            </div>

            <div class="group">

                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "input", @placeholder = "CPF", @id = "RegraValida", @name = "RegraValida", @onkeydown = "javascript: fMasc( this, mCPF );" } })
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="errorMessage"> @Html.ValidationMessageFor(model => model.CPF)</span>

            </div>

            <div class="group">

                @Html.EditorFor(model => model.rg, new { htmlAttributes = new { @class = "input", @placeholder = "RG" } })
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="errorMessage"> @Html.ValidationMessageFor(model => model.rg)</span>

            </div>

            <div class="group">

                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "input", @placeholder = "Seu melhor E-mail" } })
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="errorMessage"> @Html.ValidationMessageFor(model => model.email)</span>

            </div>

            <div class="group">

                @Html.EditorFor(model => model.telefone, new { htmlAttributes = new { @class = "input", @placeholder = "Telefone Celular", @id = "telefone", @name = "telefone" } })
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="errorMessage">  @Html.ValidationMessageFor(model => model.telefone)</span>


            </div>

            <div class="group">

                @Html.EditorFor(model => model.senha, new { htmlAttributes = new { @class = "input", @placeholder = "Senha", @type = "password" } })
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="errorMessage">@Html.ValidationMessageFor(m => m.senha)</span>

            </div>

            <div class="group">

                <input class="input" type="file" name="file" id="file" />
                <span class="errorMessage"> @Html.ValidationMessageFor(model => model.img)</span>

            </div>

            <div class="group">

                <input type="submit" value="Cadastrar" class="button" onclick="ValidaCPF();" />

            </div>
        </div>
    </div>
</body>
</html>
