@model Ecommerce.Models.Cliente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>


    <link href="~/Content/Cadastros/cadCli.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="login">
            <div class="modal-content">

                @using (@Html.BeginForm("AtualizaCliente", "Site", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        @Html.ActionLink("Voltar", "Index", new { htmlAttributes = new { @class = "link" } })<h1 class="text-login">CADASTRO</h1>
                        @Html.AntiForgeryToken()
                        <span>@ViewBag.Validação</span>
                        <span>@ViewBag.erro</span>
                        <div class="group">

                            @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "loginInput", @placeholder = "Nome Completo", @Value = ViewBag.nome } })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <span class="errorMessage">@Html.ValidationMessageFor(model => model.nome)</span>

                        </div>
                       

                            @Html.EditorFor(m => m.CPF, new { htmlAttributes = new { @class = "loginInput", @placeholder = "CPF", @id = "RegraValida", @name = "RegraValida", @onkeydown = "javascript: fMasc( this, mCPF );", @Value = ViewBag.cpf } })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <span class="errorMessage">@Html.ValidationMessageFor(model => model.CPF)</span>
                        </div>
                        <div class="group">

                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "loginInput", @placeholder = "Seu melhor E-mail", @Value = ViewBag.email } })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <span class="errorMessage">@Html.ValidationMessageFor(m => m.email)</span>
                        </div>
                        <div class="group">

                            @Html.EditorFor(model => model.telefone, new { htmlAttributes = new { @class = "loginInput", @placeholder = "Telefone Celular", @id = "telefone", @name = "telefone", @Value = ViewBag.tel } })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <span class="errorMessage">@Html.ValidationMessageFor(m => m.telefone)</span>
                        </div>
                        <div class="group">

                            @Html.EditorFor(model => model.senha, new { htmlAttributes = new { @class = "loginInput", @placeholder = "Senha", @type = "password" } })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <span class="errorMessage">@Html.ValidationMessageFor(m => m.senha)</span>
                        </div>

                        <input class="loginInput" type="file" name="file" id="file" />

                        <input class="button" type="submit" value="Atualizar" data-backdrop="static" onclick="ValidaCPF();" />

                  
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Mascaras.js")
</body>
</html>
