
@model Ecommerce.Models.IndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pacotes</title>
    <link href="~/Content/Site/BuscaPacotes.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    @Scripts.Render("~/Scripts/tilt.js");
</head>
<body>
    <header>
        <a class="voltar" href="~/Site/Index">
            Voltar
        </a>
        <a class="perfil" href="~/Site/PerfilCliente">
            <img src="~/Imagens/perfil.png" />
        </a>
        <a class="carrinho" href="~/Site/Carrinho">

            <img src="~/Imagens/carrinho.png" />
        </a>

    </header>
    <div class="logo">
        <img class="logo" src="~/Imagens/LogoHorizon.png" />
    </div>
    <div class="frase">

        <ul id="frase">
            <li>O</li>
            <li>  &nbsp;</li>
            <li>T</li>
            <li>U</li>
            <li>R</li>
            <li>I</li>
            <li>S</li>
            <li>M</li>
            <li>O</li>
            <li>  &nbsp;</li>
            <li>V</li>
            <li>A</li>
            <li>I</li>
            <li>  &nbsp;</li>
            <li>A</li>
            <li>L</li>
            <li>É</li>
            <li>M</li>
            <li>  &nbsp;</li>
            <li>D</li>
            <li>O</li>
            <li>S</li>
            <li>  &nbsp;</li>
            <li>s</li>
            <li>O</li>
            <li>N</li>
            <li>H</li>
            <li>O</li>
            <li>S</li>

        </ul>


    </div>
    <div class="listaPacotes">

        @foreach (var item in ViewBag.listaPacotes)
        {
            var id = item.cd_pacote;
            <div class="Card">
                <a href="~/Site/DetalhePacote/@id">
                    <img src="@item.img_pacote" alt="Imagem" />
                    <h2 class="Titulo-pacote">PACOTE PARA @item.nome_pacote</h2>
                    <img class="stars" src="~/Imagens/stars.png" />
                </a>
                @using (Html.BeginForm("AdicionarCarrinho", "Site", FormMethod.Post))
                 {
                    <input type="hidden" name="id" value=@item.cd_pacote>
                    <input type="hidden" name="pre" value=@item.vl_pacote>
                    <input type="hidden" name="quantidade" value="1">


                    <input type="submit" value="" class="add">
                 }

                <h1>a partir de <span id="valor">R$ @item.vl_pacote</span> por pessoa </h1>
            </div>


         }

    </div>

    @Scripts.Render("~/Scripts/tilt.js")
</body>
</html>
