@model Ecommerce.Models.IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Horizon FLY</title>
    <link href="~/Content/Site/Index.css" rel="stylesheet" />
    <link href="~/Content/Site/loginEregistro.css" rel="stylesheet" />
    <link href="~/Content/card.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <span id="fone">+55 011 3714-2125</span>
    </header>
    <div class="logo">
        <img class="logo" src="~/Imagens/LogoHorizon.png" />
    </div>
    <div class="Login-registro">
        <span id="login">

            <h5 id="login-button"> @Html.ActionLink("Login", "Login", new { htmlAttributes = new { @id = "login-button" } })</h5>

            <h5 id="login-buttonR"> @Html.ActionLink("Registre-se", "CadastroCliente", new { htmlAttributes = new { @id = "login-buttonR" } })</h5>



        </span>
    </div>
    <div class="frase">

        <ul id="frase">
            <li>O</li>
            <li>  &nbsp;</li>
            <li>T</li>
            <li>U</li>
            <li>R</li>
            <li>I</li>
            <li>S</li>
            <li>M</li>
            <li>O</li>
            <li>  &nbsp;</li>
            <li>V</li>
            <li>A</li>
            <li>I</li>
            <li>  &nbsp;</li>
            <li>A</li>
            <li>L</li>
            <li>É</li>
            <li>M</li>
            <li>  &nbsp;</li>
            <li>D</li>
            <li>O</li>
            <li>S</li>
            <li>  &nbsp;</li>
            <li>s</li>
            <li>O</li>
            <li>N</li>
            <li>H</li>
            <li>O</li>
            <li>S</li>

        </ul>


    </div>
    <div class="search-container">
        <div class="dropdown">
            <button type="button" class="btn-dpw  " data-toggle="dropdown">
                Pacotes
            </button>
            @using (@Html.BeginForm())
            {
                @Html.EditorFor(m => m.Origem, new { htmlAttributes = new { @class = "Input", @placeholder = "Origem" } })

                @Html.EditorFor(m => m.Destino, new { htmlAttributes = new { @class = "Input", @placeholder = "Destino" } })

                <input class="Input" type="submit" value="Buscar" />
            }
        </div>
    </div>
    <div class="base">

    </div>

    <section class="anuncios">

        <img src="~/Imagens/festivalViagens.png" />
        <img src="~/Imagens/quinzenaViajante.png" />
        <img src="~/Imagens/resorts.png" />
    </section>

    <section class="pacotes">
        <h1>Pacotes em <span id="oferta">OFERTA</span>  para as férias em Familía</h1>
        @foreach (var item in ViewBag.oferta)
        {

            <div class="Card">
                <div class="barra"> <p> Transporte + Hospedagem  &nbsp;</p></div>
                <img src="@item.img_pacote" alt="Imagem" />
                <h2 class="Titulo-pacote">PACOTE PARA @item.nome_pacote</h2>
                <img class="stars" src="~/Imagens/stars.png" />

                <h1>a partir de <span id="valor">@item.vl_pacote</span> por pessoa </h1>
            </div>
        }
    </section>

    <section class="maisProcurados">
     
        <h1 class="title">DESTINOS MAIS PROCURADOS</h1>

        <div id="app" class="container" translate="no">
            <card data-image="https://images.unsplash.com/photo-1544989164-31dc3c645987?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80">
                <h1 slot="header">Rio de Janeiro</h1>
                <p slot="content">Há coisas que todo mundo deveria fazer no Rio de Janeiro ao menos uma vez na vida.</p>
            </card>
            <card data-image="https://images.unsplash.com/photo-1591870510323-e20965f14d69?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
                <h1 slot="header">Maranhão</h1>
                <p slot="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </card>
            <card data-image="https://images.unsplash.com/photo-1479644025832-60dabb8be2a1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
                <h1 slot="header">Trees</h1>
                <p slot="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </card>
            <card data-image="https://images.unsplash.com/photo-1479621051492-5a6f9bd9e51a?dpr=2&auto=compress,format&fit=crop&w=1199&h=811&q=80&cs=tinysrgb&crop=">
                <h1 slot="header">Lakes</h1>
                <p slot="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </card>
        </div>
    </section>



 

    @Scripts.Render("~/Scripts/Mascaras.js");
    @Scripts.Render("~/Scripts/card.js");

</body>

</html>
