@model Ecommerce.Models.ViewsModels.IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Horizon FLY</title>
    <link href="~/Content/Site/Index.css" rel="stylesheet" />
    <link href="~/Content/Site/loginEregistro.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <span id="fone">+55 011 3714-2125</span>
    </header>
    <div class="logo">
        <img class="logo" src="~/Imagens/LogoHorizon.png" />
    </div>
    <div class="Login-registro">
        <span id="login">

            <h5 id="login-button">@Html.ActionLink("Login", "Login", new { htmlAttributes = new { @id = "login-button" } })</h5>

            <h5 id="login-buttonR">@Html.ActionLink("Registre-se", "CadastroCliente", new { htmlAttributes = new { @id = "login-buttonR" } })</h5>
            


        </span>
    </div>
    <div class="frase">
        <span id="frase"> Aonde gostaria de ir?</span>
    </div>
    <div class="search-container">
        <div class="dropdown">
            <button type="button" class="btn-dpw  " data-toggle="dropdown">
                Pacotes
            </button>
            @using (@Html.BeginForm())
            {
                @Html.EditorFor(m => m.Origem, new { htmlAttributes = new { @class = "Input", @placeholder = "Origem" } })

                @Html.EditorFor(m => m.Destino, new { htmlAttributes = new { @class = "Input", @placeholder = "Destino"} })


            }
        </div>
    </div>
    <div class="base">

    </div>


  

}
@Scripts.Render("~/Scripts/Mascaras.js");

</body>

</html>
