@model  IEnumerable<Ecommerce.Models.IndexViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Horizon FLY</title>
    <link href="~/Content/Site/Index.css" rel="stylesheet" />
    <link href="~/Content/Site/loginEregistro.css" rel="stylesheet" />
   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
 


    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <span id="fone">+55 011 3714-2125</span>
    </header>
    <div class="logo">
        <img class="logo" src="~/Imagens/LogoHorizon.png" />
    </div>
    <div class="Login-registro">
        <span id="login">

            <h5 id="login-button"> @Html.ActionLink("Login", "Login", new { htmlAttributes = new { @id = "login-button" } })</h5>

            <h5 id="login-buttonR"> @Html.ActionLink("Registre-se", "CadastroCliente", new { htmlAttributes = new { @id = "login-buttonR" } })</h5>
            


        </span>
    </div>
    <div class="frase">

        <ul id="frase">
            <li>O</li>
            <li>  &nbsp;</li>
            <li>T</li>
            <li>U</li>
            <li>R</li>
            <li>I</li>
            <li>S</li>
            <li>M</li>
            <li>O</li>
            <li>  &nbsp;</li>
            <li>V</li>
            <li>A</li>
            <li>I</li>
            <li>  &nbsp;</li>
            <li>A</li>
            <li>L</li>
            <li>É</li>
            <li>M</li>
            <li>  &nbsp;</li>
            <li>D</li>
            <li>O</li>
            <li>S</li>
            <li>  &nbsp;</li>
            <li>s</li>
            <li>O</li>
            <li>N</li>
            <li>H</li>
            <li>O</li>
            <li>S</li>

        </ul>


    </div>
    <div class="search-container">
        <div class="dropdown">
            <button type="button" class="btn-dpw  " data-toggle="dropdown">
                Pacotes
            </button>
            @using (@Html.BeginForm())
            {
                @Html.EditorFor(m => m.Origem, new { htmlAttributes = new { @class = "Input", @placeholder = "Origem" } })

                @Html.EditorFor(m => m.Destino, new { htmlAttributes = new { @class = "Input", @placeholder = "Destino"} })

                <input class="Input" type="submit" value="Buscar" />
            }
        </div>
    </div>
    <div class="base">

    </div>

    <section class="pacotes">
        <h1>Pacotes em OFERTA para as férias em Familía</h1>
        @foreach ( var item in ViewBag.oferta)
            {
                <div class="Card">
                    <img src="@item.img_pacote" alt="Imagem"/>
                    <h2 class="Titulo-pacote">@item.nome_pacote</h2>
                </div>
            }
    </section>


  

}
@Scripts.Render("~/Scripts/Mascaras.js");

</body>

</html>
