@model Ecommerce.Models.IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Horizon FLY</title>
    <link href="~/Content/Site/Index.css" rel="stylesheet" />
    <link href="~/Content/Site/loginEregistro.css" rel="stylesheet" />
    <link href="~/Content/card.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>

    <header>
        <span id="fone">+55 011 3714-2125</span>
        <a class="perfil" href="~/Site/PerfilCliente">
            <img src="~/Imagens/perfil.png" />
        </a>
        <a class="carrinho" href="~/Site/Carrinho">

            <img src="~/Imagens/carrinho.png" />
        </a>

    </header>
    <div class="logo">
        <img class="logo" src="~/Imagens/LogoHorizon.png" />
    </div>
    <div class="Login-registro">
        <span id="login">

            <h5 id="login-button"> @Html.ActionLink("Login", "Login", new { htmlAttributes = new { @id = "login-button" } })</h5>

            <h5 id="login-buttonR"> @Html.ActionLink("Registre-se", "CadastroCliente", new { htmlAttributes = new { @id = "login-buttonR" } })</h5>



        </span>
    </div>
    <div class="frase">

        <ul id="frase">
            <li>O</li>
            <li>  &nbsp;</li>
            <li>T</li>
            <li>U</li>
            <li>R</li>
            <li>I</li>
            <li>S</li>
            <li>M</li>
            <li>O</li>
            <li>  &nbsp;</li>
            <li>V</li>
            <li>A</li>
            <li>I</li>
            <li>  &nbsp;</li>
            <li>A</li>
            <li>L</li>
            <li>É</li>
            <li>M</li>
            <li>  &nbsp;</li>
            <li>D</li>
            <li>O</li>
            <li>S</li>
            <li>  &nbsp;</li>
            <li>s</li>
            <li>O</li>
            <li>N</li>
            <li>H</li>
            <li>O</li>
            <li>S</li>

        </ul>


    </div>
    <div class="search-container">
        <div class="dropdown">
            <button type="button" class="btn-dpw  " data-toggle="dropdown">
                Pacotes
            </button>
            @using (@Html.BeginForm("BuscaPacotes", "Site"))
            {

                @Html.DropDownList("cidadeOrigem", "Origem")
                @Html.DropDownList("cidade", "Destino")



                <input class="Input" type="submit" value="Buscar" />
            }
        </div>
    </div>
    <div class="base">

    </div>

    <section class="anuncios">

        <img src="~/Imagens/festivalViagens.png" />
        <img src="~/Imagens/quinzenaViajante.png" />
        <img src="~/Imagens/resorts.png" />
    </section>

    <section class="pacotes">
        <h1>Pacotes em <span id="oferta">OFERTA</span>  para as férias em Familía</h1>
         @foreach (var item in ViewBag.oferta)
          {
                var id = item.cd_pacote;

                <div class="Card">
                        <a href="~/Site/DetalhePacote/@item.cd_pacote">
                        <img src="@item.img_pacote" alt="Imagem" />
                        <h2 class="Titulo-pacote">PACOTE PARA @item.nome_pacote</h2>
                        <img class="stars" src="~/Imagens/stars.png" />
                        </a>
                        @using (Html.BeginForm("AdicionarCarrinho", "Home", FormMethod.Post))
                        {
                        <input type="hidden" name="id" value=@item.cd_pacote>
                        <input type="hidden" name="pre" value=@item.vl_pacote>
                        <input type="hidden" name="quantidade" value="1">


                        <input type="submit" value="" class="add">
                        }

                    <h1>a partir de <span id="valor">R$ @item.vl_pacote</span> por pessoa </h1>
                </div>

          }
    </section>

    <section class="maisProcurados">

        <h1 class="title">DESTINOS MAIS PROCURADOS</h1>

        <div id="app" class="container" translate="no">
            <card data-image="https://images.unsplash.com/photo-1544989164-31dc3c645987?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80">
                <h1 slot="header">Rio de Janeiro</h1>
                <p slot="content">Há coisas que todo mundo deveria fazer no Rio de Janeiro ao menos uma vez na vida.</p>
            </card>
            <card data-image="https://images.unsplash.com/photo-1591870510323-e20965f14d69?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
                <h1 slot="header">Maranhão</h1>
                <p slot="content">O litoral maranhense é um dos mais belos do Brasil, com praias imperdíveis de tirar o fôlego.</p>
            </card>
            <card data-image="https://wallpapercave.com/wp/wp1860194.jpg">
                <h1 slot="header">Bahia</h1>
                <p slot="content">Se você pensa que a Bahia tem apenas praias maravilhosas, espera só até você conhecer de perto a Chapada Diamantina! </p>
            </card>
            <card data-image="https://images.unsplash.com/photo-1576548205372-6ccb6f1b3673?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80">
                <h1 slot="header">Fernando de Noronha</h1>
                <p slot="content"> É reconhecidao pelas suas praias pouco urbanizadas e por atividades como mergulho e snorkeling. </p>
            </card>
        </div>
    </section>
    <footer>
        @DateTime.Now.Year
    </footer>




    @Scripts.Render("~/Scripts/Mascaras.js");
    @Scripts.Render("~/Scripts/chosen.jquery.js");
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/chosen.jquery.js"></script>
    @Scripts.Render("~/Scripts/card.js");

</body>

</html>
