@model Ecommerce.Models.Cartao
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Meus Cartões</title>

    <link href="~/Content/Site/MeusCartões.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <span class="voltar"> @Html.ActionLink("Ir as Compras", "Index")   </span>
        <span class="sair"> @Html.ActionLink("Sair", "Logout")   </span>
    </header>
    @*BANNER*@
    <div class="container">
        <div class="Cliente">
            <h1 id="dados" class="Titulo">Cartões <span id="barrinha"></span></h1>
            <table class="dados">
                <thead>
                    <tr>
                        <th class="Titulo">Cartão&ensp;</th>
                        <th class="Titulo">Nome Impresso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="dado">@Html.DisplayFor(smodel => smodel.nm_cartao)</td>
                        <td class="dado">  @Html.DisplayFor(smodel => smodel.nm_impresso)</td>
                    </tr>
                    <tr>
                        <td class="dado"> @Html.DisplayFor(smodel => smodel.num_cartao)</td>
                        <td class="dado"> @Html.DisplayFor(smodel => smodel.validade)</td>
                    </tr>
                    <tr>
                        <td class="dado">  @Html.DisplayFor(smodel => smodel.cvv_cartao)</td>
                   
                    </tr>
                   
                </tbody>
            </table>
            <a href="/Sistema/MeusCartoes/@ViewBag.rg">
                <div class="cartoes">
                    <p>MEUS CARTÕES</p>
                </div>
            </a>

            <span class="atualizar"> &nbsp;&nbsp;@Html.ActionLink(" Editar Dados ", "AtualizaCliente", "Site", new { id = ViewBag.rg }, null)&nbsp; &nbsp;</span>
            <span class="excluir"> &nbsp;&nbsp;@Html.ActionLink(" Excluir Conta ", "ExcluiCliente", "Site", new { id = ViewBag.rg }, null)&nbsp; &nbsp;</span>
            <h1 class="Titulo" id="reserva">Reservas <span id="barrinhaReserva"></span> </h1>
        </div>
    </div>
</body>
</html>