
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perfil do Cliente</title>
    <link href="~/Content/Site/Perfil.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <span class="voltar"> @Html.ActionLink("Ir as Compras", "Index")   </span>
        <span class="sair"> @Html.ActionLink("Sair", "Logout")   </span>
    </header>
    @*BANNER*@
    <div class="container">
        <img class="banner" src="~/Imagens/RJWallpaper.png" alt="wallpaper" />
        <div class="Cliente">
            <img class="foto" src="@ViewBag.img" />
            <h1 id="dados" class="Titulo">Dados <span id="barrinha"></span></h1>
            <table class="dados">
                <thead>
                    <tr>
                        <th class="Titulo">NOME COMPLETO &ensp;</th>
                        <th class="Titulo">EMAIL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="dado">@ViewBag.nome</td>
                        <td class="dado">@ViewBag.email</td>
                    </tr>
                    <tr>
                        <td class="Titulo">CPF</td>
                        <td class="Titulo">Telefone</td>
                    </tr>
                    <tr>
                        <td class="dado">@ViewBag.cpf</td>
                        <td class="dado">@ViewBag.tel</td>
                    </tr>
                    <tr>
                        <td class="Titulo">RG</td>
                        <td class="Titulo"></td>
                    </tr>
                    <tr>
                        <td class="dado">@ViewBag.rg</td>
                        <td class="dado"></td>
                    </tr>
                </tbody>
            </table>
            <a href="/Site/CadastroCartao">
                <div class="cartoes">
                    <p>Novo Cartão</p>
                </div>
            </a>

            <span class="atualizar"> &nbsp;&nbsp;@Html.ActionLink(" Editar Dados ", "AtualizaCliente", "Site", new { id = ViewBag.rg }, null)&nbsp; &nbsp;</span>
            <span class="excluir"> &nbsp;&nbsp;@Html.ActionLink(" Excluir Conta ", "ExcluiCliente", "Site", new { id = ViewBag.rg }, null)&nbsp; &nbsp;</span>
            <section class="listas">
                <h1 class="Titulo" id="reserva">Reservas <span id="barrinhaReserva"></span> </h1>
                <section class="reserva">
                    <h1>@ViewBag.reserne </h1>
                    @foreach (var item in ViewBag.reserva)
                    {
                        var id = item.cd_reserva;
                        <a href="~/Site/DetalhesReserva/@id">
                            <div class="dadosreserva">
                                <span>Data:</span>
                                <h1>@item.dt_reserva</h1>
                                <span>Cliente:</span>
                                <h1>@item.nome_cliente</h1>
                                <span>Pagamento:</span>
                                <h1>@item.nome_cartao</h1>
                                <span>Total:</span>
                                <h1> @item.vl_total</h1>
                            </div>
                            </a>
                            }
                    </section>
                <h1 class="Titulo" id="reserva">Cartões <span id="barrinhaReserva"></span> </h1>
                <section class="cartao">
                    <h1>@ViewBag.cardne </h1>
                    @foreach (var item in ViewBag.listaCartoes)
                    {
                        var id = @item.cd_cartao;
                    <div class="card">

                        <h2 class="Titulo">@item.nm_cartao</h2>
                        <h2 class="Titulo"  id="tituloCartao">Titular: @item.nm_impresso</h2>
                        <h1 class="numero"> Número: @item.num_cartao</h1>
                        <h2 class="numero"> Validade: @item.validade</h2>
                        <h2 class="numero">CVV: @item.cvv_cartao</h2>


                        <span class="atualizarCartao"> &nbsp;&nbsp;@Html.ActionLink(" Atualizar ", "AtualizaCartao", "Site", new { id }, null)&nbsp; &nbsp;</span>

                        <span class="excluirCartao"> &nbsp;&nbsp;@Html.ActionLink(" Deletar ", "ExcluirCartao", "Site", new { id }, null)&nbsp; &nbsp;</span>
                    </div>
                    }
                </section>
            </section>

        </div>
    </div>
</body>
</html>
