
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perfil do Cliente</title>
    <link href="~/Content/Site/Perfil.css" rel="stylesheet" />

</head>
<body>
    <header>
    </header>
    @*BANNER*@
    <img class="banner" src="~/Imagens/RJWallpaper.png" alt="wallpaper" />
    <div class="Cliente">
        <img  src="@ViewBag.img" alt="wallpaper" />
        <table class="dados">
            <thead>
                <tr>
                    <th class="Titulo">NOME COMPLETO </th>
                    <th class="Titulo">EMAIL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="dado">@ViewBag.nome</td>
                    <td class="dado">@ViewBag.email</td>
                </tr>
                <tr>
                    <td class="Titulo">CPF</td>
                    <td class="Titulo">Telefone</td>
                </tr>
                <tr>
                    <td class="dado">@ViewBag.cpf</td>
                    <td class="dado">@ViewBag.tel</td>
                </tr>
                <tr>
                    <td class="Titulo">RG</td>
                    <td class="Titulo"></td>
                </tr>
                <tr>
                    <td class="dado">@ViewBag.rg</td>
                    <td class="dado"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
