
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perfil do Cliente</title>
    <link href="~/Content/Site/Perfil.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <span class="voltar"> @Html.ActionLink("Ir as Compras", "Index" )   </span> 
    </header>
    @*BANNER*@
<div class="container">
    <img class="banner" src="~/Imagens/RJWallpaper.png" alt="wallpaper" />
    <div class="Cliente">
        <img class="foto" src="@ViewBag.img" />
        <h1 id="dados" class="Titulo">Dados <span id="barrinha"></span></h1>
        <table class="dados">
            <thead>
                <tr>
                    <th class="Titulo">NOME COMPLETO &ensp;</th>
                    <th class="Titulo">EMAIL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="dado">@ViewBag.nome</td>
                    <td class="dado">@ViewBag.email</td>
                </tr>
                <tr>
                    <td class="Titulo">CPF</td>
                    <td class="Titulo">Telefone</td>
                </tr>
                <tr>
                    <td class="dado">@ViewBag.cpf</td>
                    <td class="dado">@ViewBag.tel</td>
                </tr>
                <tr>
                    <td class="Titulo">RG</td>
                    <td class="Titulo"></td>
                </tr>
                <tr>
                    <td class="dado">@ViewBag.rg</td>
                    <td class="dado"></td>
                </tr>
            </tbody>
        </table>
        <a href="/Sistema/MeusCartoes/@ViewBag.cpf">
            <div class="cartoes">
                <p>MEUS CARTÕES</p>
            </div>
        </a>
        <span class="atualizar"> &nbsp;&nbsp;@Html.ActionLink(" Atualizar ", "AtualizarCliente", "Site", new { id = ViewBag.cpf })&nbsp; &nbsp;</span>
        <h1 class="Titulo" id="reserva">Reservas <span id="barrinhaReserva"></span > </h1>
    </div>
</div>
</body>
</html>
