@model Ecommerce.Models.Viagem
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atualiza Viagens</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">

    <link href="~/Content/Cadastros/CadastroViagem.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")



    @using (Html.BeginForm("AtualizaViagem", "Sistema", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <h1 class="text">VIAGEM</h1>
            <div class="bodyInputs">
                @Html.ActionLink("Voltar", "Viagens", "Sistema", new { htmlAttributes = new { @class = "link" } })

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <span class="comrfimacao"> @ViewBag.sucesso</span>
                <div class="group">
                    @Html.EditorFor(model => model.nome_viagem, new { htmlAttributes = new { @class = "input", @placeholder = "Nome " , @Value = ViewBag.nome} })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="errorMessage"> @Html.ValidationMessageFor(model => model.nome_viagem)</span>
                </div>
                <div class="group">
                    @Html.LabelFor(model => model.dt_ida)
                    @Html.EditorFor(model => model.dt_ida, new { htmlAttributes = new { @class = "input", @placeholder = "Data de Ida", @type = "datetime-local" } })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="errorMessage"> @Html.ValidationMessageFor(model => model.dt_ida)</span>
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.dt_chegada)
                    @Html.EditorFor(model => model.dt_chegada, new { htmlAttributes = new { @class = "input", @placeholder = "Data de Chegada", @type = "datetime-local" } })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="errorMessage"> @Html.ValidationMessageFor(model => model.dt_chegada)</span>
                </div>


                <div class="group">
                    @Html.EditorFor(model => model.vl_total, new { htmlAttributes = new { @class = "input", @placeholder = "R$ 0,00", @id = "preco", @Value = ViewBag.vl } })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="errorMessage"> @Html.ValidationMessageFor(model => model.vl_total)</span>
                </div>


                <div class="group">
                    @Html.LabelFor(model => model.descricao)
                    @Html.TextAreaFor(model => model.descricao, new { htmlAttributes = new { @class = "input", @placeholder = "Descrição", @Value = ViewBag.des } })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="errorMessage"> @Html.ValidationMessageFor(model => model.descricao)</span>
                </div>
                <div class="group">
                    <div class="dropdown">
                        @Html.DropDownList("transportes", "Destino")
                     

                    </div>
                    <br />
                    <div class="dropdown">
                        @Html.DropDownList("transportesOrigem", "Origem")
                       

                    </div>
                    <br />
                    <div class="dropdown">
                        @Html.DropDownList("tipo", "Tipo de Transporte")
                        <span class="errorMessage"> @Html.ValidationMessageFor(model => model.tipo_transporte)</span>

                    </div>
                </div>



                <div class="group">

                    <input class="input" type="file" name="file" id="file" />
                    <span class="errorMessage"> @Html.ValidationMessageFor(model => model.img_viagem)</span>

                </div>

                <div class="group">

                    <input type="submit" value="Salvar" class="button" />

                </div>
            </div>
        </div>
    }


    @Scripts.Render("~/Scripts/Mascaras.js");
    @Scripts.Render("~/Scripts/chosen.jquery.js");
    @Scripts.Render("~/bundles/inputmask")
    <script src="~/Scripts/chosen.jquery.js"></script>
</body>
</html>