@model IEnumerable<Ecommerce.Models.Count>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <link href="~/Content/DashboardGerente.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Poppins:ital,wght@0,100;1,100;1,200;1,300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <header>
            @Html.ActionLink("Sair", "Logout","Site" , new { htmlAttributes = new { @class = "sair" } })
        </header>
        <div class="menu">

            <div class="foto">
                @ViewBag.img
            </div>
            <cite>@ViewBag.nome</cite>
            <ul>

                <li>@Html.ActionLink("Hotéis", "Hoteis", new { htmlAttributes = new { @class = "opcao" } }) </li>
                <li>
                    @Html.ActionLink("Clientes", "Clientes", new { htmlAttributes = new { @class = "opcao" } })
                </li>
                <li>
                    @Html.ActionLink("Pacotes", "Clientes", new { htmlAttributes = new { @class = "opcao" } })
                </li>
                <li>
                    @Html.ActionLink("Vendas", "Vendas", new { htmlAttributes = new { @class = "opcao" } })
                </li>
                <li>
                    @Html.ActionLink("Viagens", "Viagens", new { htmlAttributes = new { @class = "opcao" } })
                </li>
                <li>
                    @Html.ActionLink("Transportes", "Transportes", new { htmlAttributes = new { @class = "opcao" } })
                </li>
                @if (Session["tipoLogado1"] != null)
                {
                    <li>
                        @Html.ActionLink("Funcionários", "Funcionarios", new { htmlAttributes = new { @class = "opcao" } })
                    </li>
                }

                @if (Session["tipoLogado1"] != null || Session["tipoLogado2"] != null)
                {
                    <li>
                        @Html.ActionLink("Torne-se um Cliente", "NovoClienteFuncionário", new { htmlAttributes = new { @class = "opcao" } })
                    </li>
                }

            </ul>

        </div>
        <main>
            <h1>HORIZON FLY</h1>
            <div class="resumo">
                <img class="imgresumo" src="~/Imagens/ResumoPng.png" />
                <h2>Resumo</h2>
            </div>

            <table>
                <thead>
                <th class="th1">
                    @foreach (var Reservas in ViewBag.qtReservas)
                    {
                        <div class="div-item">
                            <img class="img-item" src="~/Imagens/grafico.png" />
                            <h5>@Reservas.quantidadeReservas</h5>
                            <span>Vendas</span>
                        </div>
                    }
                    </th>

                <th class="th1">
                    @foreach (var Cliente in ViewBag.qtClientes)
                    {
                        <div class="div-item">

                            <img class="img-item" src="~/Imagens/clientes.png" />
                            <h5>@Cliente.quantidadeClientes</h5>
                            <span>Clientes</span>
                        </div>
                    }
                </th>
                <th class="th1">
                    @foreach (var Funcionario in ViewBag.qtFuncionários)
                    {
                        <div class="div-item">

                            <img class="img-item" src="~/Imagens/icon.png" />
                            <h5>@Funcionario.quantidadeFuncionarios</h5>
                            <span>Funcionários</span>
                        </div>
                    }
                </th>
                <th class="th2">
                    <div class="div-item">
                        @foreach (var Hoteis in ViewBag.qtHoteis)
                        {
                            <img class="img-item" class="img-item" src="~/Imagens/coqueiro.png" />
                            <h5>@Hoteis.quantidadeHoteis</h5>
                            <span>Hotéis</span>
                        }
                </th>
                <th class="th2">
                    @foreach (var Pacotes in ViewBag.qtPacotes)
                    {
                        <div class="div-item">

                            <img class="img-item" src="~/Imagens/bag.png" />
                            <h5>@Pacotes.quantidadePacotes</h5>
                            <span>Pacotes</span>
                        </div>
                    }
                </th>
                <th class="th2">
                    @foreach (var Viagens in ViewBag.qtViagens)
                    {
                        <div class="div-item">
                            <img class="img-item" src="~/Imagens/aviao.png" />
                            <h5>@Viagens.quantidadeViagens</h5>
                            <span>Viagens</span>
                        </div>
                    }
                    </th>
                <th class="th2">
                    @foreach (var Transportes in ViewBag.qtTransportes)
                    {
                        <div class="div-item">
                            <img class="img-item" src="~/Imagens/aviao.png" />
                            <h5>@Transportes.quantidadeTransportes</h5>
                            <span>Transportes</span>
                        </div>
                    }
                    </th>
                </table>
                <span>DADOS ATUALIZADOS EM TEMPO REAL</span>
            </main>
        </div>
    </body>
</html>
