@model Ecommerce.Models.Viagem
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes da Viagem</title>

    <link href="~/Content/Detalhes/DetalhesViagens.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Poppins:ital,wght@0,100;1,100;1,200;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <a href="/Site/Logout">

        <img class="sair" src="~/Imagens/exit.png" />
    </a>
    <div class="container">
        <a href="/Sistema/Viagens">
            <img class="voltar" src="~/Imagens/voltar.png" />
        </a>
        <ul>
            <li>H</li>
            <li>O</li>
            <li>R</li>
            <li>I</li>
            <li>Z</li>
            <li>O</li>
            <li>N</li>

            <li>F</li>
            <li>L</li>
            <li>Y</li>
        </ul>

        <h3>Viagem</h3>
        <div class="foto-nome">
            <img src=" @Html.DisplayFor(model => model.img_viagem)" />
            <span class="dado">   @Html.DisplayFor(model => model.nome_viagem) </span>
        </div>
        <div class="dados">
            <h2>Tipo</h2>
            <span class="dado">
                @Html.DisplayFor(model => model.tipo_transporte)
            </span>
            <h2>Origem </h2>
            <span class="dado">
                @Html.DisplayFor(model => model.origem)
            </span>
            <h2>Destino</h2>
            <span class="dado">
                @Html.DisplayFor(model => model.destino)
            </span>
            <h2>Data de Partida</h2>
            <span class="dado">
                @Html.DisplayFor(model => model.dt_ida)
            </span>
            <h2>Data de Chegada</h2>
            <span class="dado">
                @Html.DisplayFor(model => model.dt_chegada)
            </span>
            <h2>Preço</h2>
            <span class="dado">
                @Html.DisplayFor(model => model.vl_total)
            </span>
            <h2>Descrição</h2>
            <span class="dado">  @Html.DisplayFor(model => model.descricao)</span>
        </div>



    </div>

</body>
</html>
