@model IEnumerable<Ecommerce.Models.Hotel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hoteis</title>

    <link href="~/Content/Listas/Hoteis.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Poppins:ital,wght@0,100;1,100;1,200;1,300&display=swap" rel="stylesheet">
</head>
<body>

    <a href="/Site/Logout">

        <img class="sair" src="~/Imagens/exit.png" />
    </a>
    <div class="container">
        <a href="/Sistema/Dashboard">
            <img class="voltar" src="~/Imagens/voltar.png" />
        </a>
        <ul>
            <li>H</li>
            <li>O</li>
            <li>R</li>
            <li>I</li>
            <li>Z</li>
            <li>O</li>
            <li>N</li>

            <li>F</li>
            <li>L</li>
            <li>Y</li>
        </ul>
        <span class="novo"> &nbsp;&nbsp;@Html.ActionLink(" Cadastrar Novo ", "CadastroHoteis", "Sistema")&nbsp; &nbsp;</span>

        <h3>HOTEIS</h3>
        <div class="lista">

            @foreach (var item in Model)
            {
                var id = @item.cd_hotel;
            <div class="card">
                <a href="/Sistema/DetalhesHoteis/@item.cd_hotel">
                    @if (@item.img_hotel != null)
                    {
                        <img class="card-img-right flex-auto d-none d-md-block" data-src=" " src="@item.img_hotel" data-holder-rendered="true">
                    }
                    else
                    {
                        <img class="card-img-right flex-auto d-none d-md-block" data-src=" " src="~/Imagens/image-not-found.jpg" data-holder-rendered="true">
                    }
                    <h2>@item.nome_hotel</h2>
                    <h1>@item.telefone_hotel</h1>



                </a>



                <span class="atualizar"> &nbsp;&nbsp;@Html.ActionLink(" Atualizar ", "AtualizaHotel", "Sistema", new { id }, null)&nbsp; &nbsp;</span>
                @if (Session["tipoLogado1"] != null)
                {
                    <span class="excluir"> &nbsp;&nbsp;@Html.ActionLink(" Deletar ", "ExcluirHotel", "Sistema", new { id }, null)&nbsp; &nbsp;</span>
                }
                </div>
            }


        </div>
    </div>


</body>
</html>
